<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Samhitha Duggirala">
    <meta name="keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name="description" content = "Samhitha Duggirala professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Samhitha Duggirala</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Samhitha Duggirala</h1>
        <nav id="myTopnav" class="topnav">
            <a href="../index.html">Home</a>
            <a class="active" href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>

    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Carnegie Mellon Univeristy</td>
                <td>
                    <ul>
                        <li><strong>Teaching Assistant</strong> for <strong>15-112: Fundamentals of Programming and Computer Science</strong>, a core course about fundamental knowledge in coding and CS using Python</li>
                        <li>Lead weekly recitation sessions, teaching computer science principles and solving complex problems live in a classroom setting to a group of 20+ students</li>
                        <li>Create a stress-free environment where students are encouraged to voice concerns, responding with extensive explanations and examples to each mastery of materials</li>
                        <li>Hold mentorship responsibilities while teaching struggling students through 1-on-1 tutoring</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>NASA SEES Earth Explorers</td>
                <td>
                    <ul>
                        <li>Created a <strong>Logistic Regression Machine Learning Model</strong>, collaborating with a team, to identify and map specific types of mosquitoes in disease mitigation efforts</li>
                        <li>Selected to present research among about 100 other students at the <strong>AGU Bright STaRS</strong> fall meeting to spread the study of technology in Earth science</li>
                        <li>Compiled land cover and mosquito data centered in San Diego County in assisting global mosquito and land research through citizen science</li>
                    </ul>
                </td>
            </tr>
        </table>
        <a href="../static/resume.pdf" target="_blank">My Resume - pdf version</a>
    </div>

    <footer>
        <p id="copyYear">Samhitha Duggirala &copy</p>
    </footer>
</body>
</html>